* {
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  background-color: darkslategrey;
  color: white;
  height: 140px;
}

.header > a {
  color: wheat;
  font-weight: 600;
}

p {
  font-size: 100px;
  text-align: center;
}
