.descDiv {
  display: grid;
  grid-gap: 40px;
  justify-items: center;
}

.descTitle {
  font-size: 300%;
  color: brown;
  font-family: fantasy;
}

img.descImg {
  width: 25%;
}

p.descParag {
  font-size: 150%;
}

